/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4.4.2020, 13:42:37
    Author     : alisa
*/

/*
https://www.w3schools.com/howto/howto_css_parallax.asp
*/

body, html {
  height: 100%; /* this is a must for parallax. */
  font-family: Tahoma, Arial, sans-serif;
  font-size: 100%;
}

.parallax {
  position: relative;
  opacity: 0.8;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mylly{
  background-image: url("../img/galleria/mylly.jpg");
  height: 100%;
}

#kreikka {
  background-image: url("../img/kreikka.jpg");
  height: 100%;
}

#talvi {
  background-image: url("../img/talvi.jpg");
  height: 60%;
}

.caption {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;  
}

.caption span.border {
  background-color: #617f2f;
  color: #fff;
  padding: 18px;
  font-size: 1.5em;
  letter-spacing: 10px;
  line-height: 2em;
}

.text {
    padding: 30px 200px 30px 200px;
    text-align: center;
    position: relative;
}

.text h3 {
    text-align: center;
}

/* Turn off parallax scrolling for all tablets and phones. 
Increase/decrease the pixels if needed */
@media screen and (max-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
    
    .text {
        padding: 30px 10px 30px 10px;
        position: relative;
    }     
}

